USE [master]
GO
/****** Object:  Database [PhotoStudioBooking]    Script Date: 5/22/2026 12:55:07 AM ******/
CREATE DATABASE [PhotoStudioBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhotoStudioBooking', FILENAME = N'/var/opt/mssql/data/PhotoStudioBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhotoStudioBooking_log', FILENAME = N'/var/opt/mssql/data/PhotoStudioBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhotoStudioBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhotoStudioBooking]
GO
USE [PhotoStudioBooking]
GO
/****** Object:  Sequence [dbo].[seq_booking_code]    Script Date: 5/22/2026 12:55:07 AM ******/
CREATE SEQUENCE [dbo].[seq_booking_code] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE  50 
GO
/****** Object:  Table [dbo].[booking_statuses]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_statuses](
	[status_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[booking_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[package_id] [bigint] NOT NULL,
	[slot_id] [bigint] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[booking_code] [varchar](25) NOT NULL,
	[shooting_date] [date] NOT NULL,
	[shooting_location] [nvarchar](500) NULL,
	[note] [nvarchar](max) NULL,
	[total_price] [decimal](12, 0) NOT NULL,
	[commission_percent] [decimal](5, 2) NOT NULL,
	[commission_amount] [decimal](12, 0) NOT NULL,
	[studio_revenue] [decimal](12, 0) NOT NULL,
	[confirmed_at] [datetime2](7) NULL,
	[rejected_at] [datetime2](7) NULL,
	[reject_reason] [nvarchar](max) NULL,
	[completed_at] [datetime2](7) NULL,
	[cancelled_at] [datetime2](7) NULL,
	[cancelled_by] [bigint] NULL,
	[cancel_reason] [nvarchar](max) NULL,
	[disputed_at] [datetime2](7) NULL,
	[dispute_note] [nvarchar](max) NULL,
	[dispute_resolved_at] [datetime2](7) NULL,
	[dispute_resolved_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_monthly_platform_revenue]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_monthly_platform_revenue] AS
SELECT
    FORMAT(b.completed_at, 'yyyy-MM')  AS month,
    COUNT(b.booking_id)                 AS total_bookings,
    SUM(b.total_price)                  AS gross_revenue,
    SUM(b.commission_amount)            AS platform_commission,
    SUM(b.studio_revenue)               AS studio_payout
FROM bookings b
INNER JOIN booking_statuses bs ON b.status_id = bs.status_id
WHERE bs.status_name = 'COMPLETED'
GROUP BY FORMAT(b.completed_at, 'yyyy-MM');
GO
/****** Object:  Table [dbo].[studios]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studios](
	[studio_id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NOT NULL,
	[studio_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[logo_url] [varchar](500) NULL,
	[cover_url] [varchar](500) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[address_line] [nvarchar](500) NULL,
	[lat] [decimal](10, 7) NULL,
	[lng] [decimal](10, 7) NULL,
	[commission_percent] [decimal](5, 2) NOT NULL,
	[avg_rating] [decimal](3, 2) NOT NULL,
	[total_reviews] [int] NOT NULL,
	[total_bookings] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[rejected_by] [bigint] NULL,
	[rejected_at] [datetime2](7) NULL,
	[approved_by] [bigint] NULL,
	[approved_at] [datetime2](7) NULL,
	[banned_by] [bigint] NULL,
	[banned_at] [datetime2](7) NULL,
	[ban_reason] [nvarchar](max) NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_studio_revenue]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Studio revenue summary (UC60, UC61, UC62)
CREATE VIEW [dbo].[v_studio_revenue] AS
SELECT
    s.studio_id,
    s.studio_name,
    s.city,
    s.avg_rating,
    s.total_reviews,
    s.total_bookings,
    COUNT(b.booking_id)      AS completed_bookings,
    SUM(b.total_price)       AS gross_revenue,
    SUM(b.commission_amount) AS commission_deducted,
    SUM(b.studio_revenue)    AS net_revenue
FROM studios s
LEFT JOIN bookings b         ON b.studio_id = s.studio_id
LEFT JOIN booking_statuses bs ON b.status_id = bs.status_id
    AND bs.status_name = 'COMPLETED'
WHERE s.deleted_at IS NULL
GROUP BY s.studio_id, s.studio_name, s.city,
         s.avg_rating, s.total_reviews, s.total_bookings;
GO
/****** Object:  View [dbo].[v_top_studios]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Top studios (UC92)
-- v_top_studios: bỏ TOP 100 và ORDER BY khỏi View
-- Khi dùng: SELECT TOP 20 * FROM v_top_studios ORDER BY avg_rating DESC, total_bookings DESC
CREATE VIEW [dbo].[v_top_studios] AS
SELECT
    s.studio_id,
    s.studio_name,
    s.city,
    s.avg_rating,
    s.total_reviews,
    s.total_bookings
FROM studios s
WHERE s.status = 'APPROVED'
  AND s.deleted_at IS NULL;
GO
/****** Object:  Table [dbo].[reports]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reports](
	[report_id] [bigint] IDENTITY(1,1) NOT NULL,
	[report_type_id] [bigint] NOT NULL,
	[reporter_id] [bigint] NOT NULL,
	[target_type] [varchar](20) NOT NULL,
	[target_id] [bigint] NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[handled_by] [bigint] NULL,
	[handler_note] [nvarchar](max) NULL,
	[resolved_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[avatar_url] [varchar](500) NULL,
	[gender] [varchar](10) NULL,
	[dob] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[email_verified] [bit] NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_system_stats]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- System-wide stats (UC89, UC91, UC93)
CREATE VIEW [dbo].[v_system_stats] AS
SELECT
    (SELECT COUNT(*) FROM users    WHERE status = 'ACTIVE' AND deleted_at IS NULL) AS active_users,
    (SELECT COUNT(*) FROM studios  WHERE status = 'APPROVED' AND deleted_at IS NULL) AS approved_studios,
    (SELECT COUNT(*) FROM studios  WHERE status = 'PENDING'  AND deleted_at IS NULL) AS pending_studios,
    (SELECT COUNT(*) FROM bookings)                                                   AS total_bookings,
    (SELECT ISNULL(SUM(b.commission_amount),0)
     FROM bookings b
     INNER JOIN booking_statuses bs ON b.status_id = bs.status_id
     WHERE bs.status_name = 'COMPLETED')                                              AS total_commission,
    (SELECT COUNT(*) FROM reports WHERE status = 'PENDING')                           AS pending_reports;
GO
/****** Object:  Table [dbo].[booking_logs]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_logs](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[old_status] [varchar](20) NULL,
	[new_status] [varchar](20) NULL,
	[changed_by] [bigint] NULL,
	[note] [nvarchar](max) NULL,
	[changed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[icon_url] [varchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[conversation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[booking_id] [bigint] NULL,
	[last_message_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite_services]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_services](
	[favorite_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[service_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite_studios]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_studios](
	[favorite_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[message_id] [bigint] IDENTITY(1,1) NOT NULL,
	[conversation_id] [bigint] NOT NULL,
	[sender_id] [bigint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[ref_type] [varchar](20) NULL,
	[ref_id] [bigint] NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[packages]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[packages](
	[package_id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[package_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](12, 0) NOT NULL,
	[duration_hours] [int] NULL,
	[max_photos] [int] NULL,
	[inclusions] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[method_id] [bigint] IDENTITY(1,1) NOT NULL,
	[method_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_statuses]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_statuses](
	[payment_status_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[method_id] [bigint] NOT NULL,
	[payment_status_id] [bigint] NOT NULL,
	[payment_code] [varchar](30) NOT NULL,
	[amount] [decimal](12, 0) NOT NULL,
	[currency_code] [varchar](10) NOT NULL,
	[transaction_code] [varchar](255) NULL,
	[provider_ref] [varchar](255) NULL,
	[failure_reason] [nvarchar](max) NULL,
	[paid_at] [datetime2](7) NULL,
	[refunded_at] [datetime2](7) NULL,
	[refund_reason] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report_types]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_types](
	[report_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[report_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[is_hidden] [bit] NOT NULL,
	[hidden_by] [bigint] NULL,
	[hidden_at] [datetime2](7) NULL,
	[hidden_note] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_images]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_images](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[service_id] [bigint] IDENTITY(1,1) NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[service_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[thumbnail_url] [varchar](500) NULL,
	[city] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[is_hidden] [bit] NOT NULL,
	[hidden_by] [bigint] NULL,
	[hidden_at] [datetime2](7) NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [bigint] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studio_portfolios]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studio_portfolios](
	[portfolio_id] [bigint] IDENTITY(1,1) NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[service_id] [bigint] NULL,
	[image_url] [varchar](500) NOT NULL,
	[caption] [nvarchar](255) NULL,
	[sort_order] [int] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
	[uploaded_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[portfolio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_slots]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_slots](
	[slot_id] [bigint] IDENTITY(1,1) NOT NULL,
	[working_day_id] [bigint] NOT NULL,
	[start_time] [time](0) NOT NULL,
	[end_time] [time](0) NOT NULL,
	[status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_addresses]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_addresses](
	[address_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[city] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[ward] [nvarchar](100) NULL,
	[address_line] [nvarchar](500) NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[working_days]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[working_days](
	[working_day_id] [bigint] IDENTITY(1,1) NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[working_date] [date] NOT NULL,
	[is_available] [bit] NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[working_day_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[working_schedules]    Script Date: 5/22/2026 12:55:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[working_schedules](
	[schedule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[studio_id] [bigint] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[open_time] [time](0) NOT NULL,
	[close_time] [time](0) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booking_statuses] ON 

INSERT [dbo].[booking_statuses] ([status_id], [status_name]) VALUES (4, N'CANCELLED')
INSERT [dbo].[booking_statuses] ([status_id], [status_name]) VALUES (6, N'COMPLETED')
INSERT [dbo].[booking_statuses] ([status_id], [status_name]) VALUES (2, N'CONFIRMED')
SET IDENTITY_INSERT [dbo].[booking_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [description], [icon_url], [is_active], [sort_order], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, N'Chụp ảnh cưới', N'Wedding photography', NULL, 1, 1, CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), NULL, NULL)
INSERT [dbo].[categories] ([category_id], [category_name], [description], [icon_url], [is_active], [sort_order], [created_at], [updated_at], [created_by], [updated_by]) VALUES (2, N'Chụp ảnh cặp đôi', N'Couple photography', NULL, 1, 2, CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), NULL, NULL)
INSERT [dbo].[categories] ([category_id], [category_name], [description], [icon_url], [is_active], [sort_order], [created_at], [updated_at], [created_by], [updated_by]) VALUES (3, N'Chụp ảnh gia đình', N'Family photography', NULL, 1, 3, CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), CAST(N'2026-05-18T12:02:54.5862161' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([method_id], [method_name]) VALUES (4, N'BANK_TRANSFER')
INSERT [dbo].[payment_methods] ([method_id], [method_name]) VALUES (3, N'CASH')
INSERT [dbo].[payment_methods] ([method_id], [method_name]) VALUES (2, N'MOMO')
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_statuses] ON 

INSERT [dbo].[payment_statuses] ([payment_status_id], [status_name]) VALUES (5, N'CANCELLED')
INSERT [dbo].[payment_statuses] ([payment_status_id], [status_name]) VALUES (3, N'FAILED')
INSERT [dbo].[payment_statuses] ([payment_status_id], [status_name]) VALUES (2, N'PAID')
SET IDENTITY_INSERT [dbo].[payment_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[report_types] ON 

INSERT [dbo].[report_types] ([report_type_id], [type_name]) VALUES (2, N'BOOKING_ISSUE')
INSERT [dbo].[report_types] ([report_type_id], [type_name]) VALUES (4, N'FRAUD')
INSERT [dbo].[report_types] ([report_type_id], [type_name]) VALUES (5, N'INAPPROPRIATE_CONTENT')
SET IDENTITY_INSERT [dbo].[report_types] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name], [description]) VALUES (1, N'ADMIN', N'Quản trị viên hệ thống')
INSERT [dbo].[roles] ([role_id], [role_name], [description]) VALUES (2, N'CUSTOMER', N'Khách hàng đặt lịch chụp ảnh')
INSERT [dbo].[roles] ([role_id], [role_name], [description]) VALUES (3, N'STUDIO_OWNER', N'Chủ studio cung cấp dịch vụ')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [role_id], [full_name], [email], [phone], [password_hash], [avatar_url], [gender], [dob], [status], [email_verified], [last_login_at], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, 1, N'Nguyễn Văn Admin', N'admin@photostudio.com', N'0901234567', N'123456', N'https://api.dicebear.com/7.x/adventurer/svg?seed=admin', N'Male', CAST(N'1990-01-01' AS Date), N'ACTIVE', 1, NULL, NULL, NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL)
INSERT [dbo].[users] ([user_id], [role_id], [full_name], [email], [phone], [password_hash], [avatar_url], [gender], [dob], [status], [email_verified], [last_login_at], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, 2, N'Trần Thị Khách Hàng', N'customer@photostudio.com', N'0907654321', N'123456', N'https://api.dicebear.com/7.x/adventurer/svg?seed=customer', N'Female', CAST(N'1998-05-15' AS Date), N'ACTIVE', 1, NULL, NULL, NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL)
INSERT [dbo].[users] ([user_id], [role_id], [full_name], [email], [phone], [password_hash], [avatar_url], [gender], [dob], [status], [email_verified], [last_login_at], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, 3, N'Lê Hoàng Chủ Studio', N'owner@photostudio.com', N'0988888888', N'123456', N'https://api.dicebear.com/7.x/adventurer/svg?seed=owner', N'Male', CAST(N'1992-10-20' AS Date), N'ACTIVE', 1, NULL, NULL, NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL, CAST(N'2026-05-19T13:25:31.2985009' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_booking_logs_booking]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_booking_logs_booking] ON [dbo].[booking_logs]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__booking___501B37535E549434]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[booking_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__bookings__FF29040FBA40B32F]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[bookings] ADD UNIQUE NONCLUSTERED 
(
	[booking_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bookings_code]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_bookings_code] ON [dbo].[bookings]
(
	[booking_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bookings_customer]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_bookings_customer] ON [dbo].[bookings]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bookings_date]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_bookings_date] ON [dbo].[bookings]
(
	[shooting_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bookings_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_bookings_status] ON [dbo].[bookings]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bookings_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_bookings_studio] ON [dbo].[bookings]
(
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_bookings_slot_active]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_bookings_slot_active] ON [dbo].[bookings]
(
	[slot_id] ASC
)
WHERE ([status_id]<>(3) AND [status_id]<>(4))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_conversations_customer_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_conversations_customer_studio] ON [dbo].[conversations]
(
	[customer_id] ASC,
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_fav_service]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[favorite_services] ADD  CONSTRAINT [UQ_fav_service] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_fav_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[favorite_studios] ADD  CONSTRAINT [UQ_fav_studio] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_messages_conv]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_messages_conv] ON [dbo].[messages]
(
	[conversation_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_unread]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_unread] ON [dbo].[notifications]
(
	[user_id] ASC,
	[created_at] DESC
)
WHERE ([is_read]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_packages_price]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_packages_price] ON [dbo].[packages]
(
	[price] ASC
)
WHERE ([deleted_at] IS NULL AND [is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_packages_service]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_packages_service] ON [dbo].[packages]
(
	[service_id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___2DA2FAEEE06DB098]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[payment_methods] ADD UNIQUE NONCLUSTERED 
(
	[method_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___501B3753ABD5F7B3]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[payment_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__7234C6E3D94B7CAA]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[payment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_booking]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_payments_booking] ON [dbo].[payments]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_paid]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_payments_paid] ON [dbo].[payments]
(
	[paid_at] DESC
)
WHERE ([paid_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_payments_status] ON [dbo].[payments]
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__report_t__543C4FD9A6840827]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[report_types] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reports_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_reports_status] ON [dbo].[reports]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reports_target]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_reports_target] ON [dbo].[reports]
(
	[target_type] ASC,
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__reviews__5DE3A5B0ACF5A7FD]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[reviews] ADD UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_customer]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_customer] ON [dbo].[reviews]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_studio] ON [dbo].[reviews]
(
	[studio_id] ASC,
	[rating] ASC
)
WHERE ([is_hidden]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B14E64B769]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_services_category]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_services_category] ON [dbo].[services]
(
	[category_id] ASC
)
WHERE ([is_hidden]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_services_city]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_services_city] ON [dbo].[services]
(
	[city] ASC
)
WHERE ([is_hidden]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_services_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_services_studio] ON [dbo].[services]
(
	[studio_id] ASC
)
WHERE ([is_hidden]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_portfolios_service]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_portfolios_service] ON [dbo].[studio_portfolios]
(
	[service_id] ASC
)
WHERE ([service_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_portfolios_studio]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_portfolios_studio] ON [dbo].[studio_portfolios]
(
	[studio_id] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_studios_city]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_studios_city] ON [dbo].[studios]
(
	[city] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_studios_owner]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_studios_owner] ON [dbo].[studios]
(
	[owner_id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_studios_rating]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_studios_rating] ON [dbo].[studios]
(
	[avg_rating] DESC
)
WHERE ([deleted_at] IS NULL AND [status]='APPROVED')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_studios_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_studios_status] ON [dbo].[studios]
(
	[status] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_slot]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[time_slots] ADD  CONSTRAINT [UQ_slot] UNIQUE NONCLUSTERED 
(
	[working_day_id] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_slots_day_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_slots_day_status] ON [dbo].[time_slots]
(
	[working_day_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164F58E95D5]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_email]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_email] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_role]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_role] ON [dbo].[users]
(
	[role_id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_status]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_status] ON [dbo].[users]
(
	[status] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_working_day]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[working_days] ADD  CONSTRAINT [UQ_working_day] UNIQUE NONCLUSTERED 
(
	[studio_id] ASC,
	[working_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_working_days_studio_date]    Script Date: 5/22/2026 12:55:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_working_days_studio_date] ON [dbo].[working_days]
(
	[studio_id] ASC,
	[working_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_schedule_studio_day]    Script Date: 5/22/2026 12:55:08 AM ******/
ALTER TABLE [dbo].[working_schedules] ADD  CONSTRAINT [UQ_schedule_studio_day] UNIQUE NONCLUSTERED 
(
	[studio_id] ASC,
	[day_of_week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[booking_logs] ADD  DEFAULT (sysutcdatetime()) FOR [changed_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((10)) FOR [commission_percent]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [commission_amount]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ((0)) FOR [studio_revenue]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[favorite_services] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[favorite_studios] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[packages] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[packages] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[packages] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[packages] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('VND') FOR [currency_code]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[reports] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[service_images] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((0)) FOR [is_hidden]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[services] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[studio_portfolios] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[studio_portfolios] ADD  DEFAULT (sysutcdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT ((10)) FOR [commission_percent]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT ((0)) FOR [avg_rating]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT ((0)) FOR [total_reviews]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT ((0)) FOR [total_bookings]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[studios] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[time_slots] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[user_addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[user_addresses] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('UNVERIFIED') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[working_days] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[working_days] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[working_schedules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[working_schedules] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[working_schedules] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[booking_logs]  WITH CHECK ADD  CONSTRAINT [FK_booking_logs_bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
GO
ALTER TABLE [dbo].[booking_logs] CHECK CONSTRAINT [FK_booking_logs_bookings]
GO
ALTER TABLE [dbo].[booking_logs]  WITH CHECK ADD  CONSTRAINT [FK_booking_logs_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[booking_logs] CHECK CONSTRAINT [FK_booking_logs_user]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_cancel_by] FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_cancel_by]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_customer]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_dispute_by] FOREIGN KEY([dispute_resolved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_dispute_by]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_package] FOREIGN KEY([package_id])
REFERENCES [dbo].[packages] ([package_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_package]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_slot] FOREIGN KEY([slot_id])
REFERENCES [dbo].[time_slots] ([slot_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_slot]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[booking_statuses] ([status_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_status]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_bookings_studio] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_bookings_studio]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conv_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conv_booking]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conv_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conv_customer]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conv_studio] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conv_studio]
GO
ALTER TABLE [dbo].[favorite_services]  WITH CHECK ADD  CONSTRAINT [FK_fav_services_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[favorite_services] CHECK CONSTRAINT [FK_fav_services_service]
GO
ALTER TABLE [dbo].[favorite_services]  WITH CHECK ADD  CONSTRAINT [FK_fav_services_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[favorite_services] CHECK CONSTRAINT [FK_fav_services_user]
GO
ALTER TABLE [dbo].[favorite_studios]  WITH CHECK ADD  CONSTRAINT [FK_fav_studios_studio] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[favorite_studios] CHECK CONSTRAINT [FK_fav_studios_studio]
GO
ALTER TABLE [dbo].[favorite_studios]  WITH CHECK ADD  CONSTRAINT [FK_fav_studios_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[favorite_studios] CHECK CONSTRAINT [FK_fav_studios_user]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_conv] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([conversation_id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_conv]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_messages_sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_messages_sender]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[packages]  WITH CHECK ADD  CONSTRAINT [FK_packages_deleted_by] FOREIGN KEY([deleted_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[packages] CHECK CONSTRAINT [FK_packages_deleted_by]
GO
ALTER TABLE [dbo].[packages]  WITH CHECK ADD  CONSTRAINT [FK_packages_services] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[packages] CHECK CONSTRAINT [FK_packages_services]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_bookings]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_method] FOREIGN KEY([method_id])
REFERENCES [dbo].[payment_methods] ([method_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_method]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_status] FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[payment_statuses] ([payment_status_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_status]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FK_reports_admin] FOREIGN KEY([handled_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FK_reports_admin]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FK_reports_reporter] FOREIGN KEY([reporter_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FK_reports_reporter]
GO
ALTER TABLE [dbo].[reports]  WITH CHECK ADD  CONSTRAINT [FK_reports_type] FOREIGN KEY([report_type_id])
REFERENCES [dbo].[report_types] ([report_type_id])
GO
ALTER TABLE [dbo].[reports] CHECK CONSTRAINT [FK_reports_type]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([booking_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_booking]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_customer]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_hidden_by] FOREIGN KEY([hidden_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_hidden_by]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_studio] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_studio]
GO
ALTER TABLE [dbo].[service_images]  WITH CHECK ADD  CONSTRAINT [FK_service_images_services] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[service_images] CHECK CONSTRAINT [FK_service_images_services]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_categories]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_hidden_by] FOREIGN KEY([hidden_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_hidden_by]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_studios] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_studios]
GO
ALTER TABLE [dbo].[studio_portfolios]  WITH CHECK ADD  CONSTRAINT [FK_portfolios_services] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[studio_portfolios] CHECK CONSTRAINT [FK_portfolios_services]
GO
ALTER TABLE [dbo].[studio_portfolios]  WITH CHECK ADD  CONSTRAINT [FK_portfolios_studios] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[studio_portfolios] CHECK CONSTRAINT [FK_portfolios_studios]
GO
ALTER TABLE [dbo].[studio_portfolios]  WITH CHECK ADD  CONSTRAINT [FK_portfolios_uploader] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studio_portfolios] CHECK CONSTRAINT [FK_portfolios_uploader]
GO
ALTER TABLE [dbo].[studios]  WITH CHECK ADD  CONSTRAINT [FK_studios_approved] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studios] CHECK CONSTRAINT [FK_studios_approved]
GO
ALTER TABLE [dbo].[studios]  WITH CHECK ADD  CONSTRAINT [FK_studios_banned] FOREIGN KEY([banned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studios] CHECK CONSTRAINT [FK_studios_banned]
GO
ALTER TABLE [dbo].[studios]  WITH CHECK ADD  CONSTRAINT [FK_studios_deleted] FOREIGN KEY([deleted_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studios] CHECK CONSTRAINT [FK_studios_deleted]
GO
ALTER TABLE [dbo].[studios]  WITH CHECK ADD  CONSTRAINT [FK_studios_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studios] CHECK CONSTRAINT [FK_studios_owner]
GO
ALTER TABLE [dbo].[studios]  WITH CHECK ADD  CONSTRAINT [FK_studios_rejected] FOREIGN KEY([rejected_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[studios] CHECK CONSTRAINT [FK_studios_rejected]
GO
ALTER TABLE [dbo].[time_slots]  WITH CHECK ADD  CONSTRAINT [FK_time_slots_working_days] FOREIGN KEY([working_day_id])
REFERENCES [dbo].[working_days] ([working_day_id])
GO
ALTER TABLE [dbo].[time_slots] CHECK CONSTRAINT [FK_time_slots_working_days]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [FK_user_addresses_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [FK_user_addresses_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[working_days]  WITH CHECK ADD  CONSTRAINT [FK_working_days_studios] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[working_days] CHECK CONSTRAINT [FK_working_days_studios]
GO
ALTER TABLE [dbo].[working_schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_studios] FOREIGN KEY([studio_id])
REFERENCES [dbo].[studios] ([studio_id])
GO
ALTER TABLE [dbo].[working_schedules] CHECK CONSTRAINT [FK_schedules_studios]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[working_schedules]  WITH CHECK ADD CHECK  (([day_of_week]>=(0) AND [day_of_week]<=(6)))
GO
/****** Object:  StoredProcedure [dbo].[sp_cancel_booking]    Script Date: 5/22/2026 12:55:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ----------------------------------------------------------------
-- sp_cancel_booking  (used by customer / studio owner / admin)
-- ----------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_cancel_booking]
    @booking_id    BIGINT,
    @cancelled_by  BIGINT,
    @cancel_reason NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRANSACTION;

    DECLARE @status_id_cancelled BIGINT;
    DECLARE @slot_id BIGINT;
    DECLARE @old_status VARCHAR(20);

    SELECT @status_id_cancelled = status_id FROM booking_statuses WHERE status_name = 'CANCELLED';
    SELECT @slot_id = slot_id, @old_status = bs.status_name
    FROM bookings b
    INNER JOIN booking_statuses bs ON b.status_id = bs.status_id
    WHERE b.booking_id = @booking_id;

    UPDATE bookings
    SET status_id     = @status_id_cancelled,
        cancelled_at  = SYSUTCDATETIME(),
        cancelled_by  = @cancelled_by,
        cancel_reason = @cancel_reason,
        updated_at    = SYSUTCDATETIME(),
        updated_by    = @cancelled_by
    WHERE booking_id = @booking_id;

    -- Free the slot
    UPDATE time_slots SET status = 'OPEN' WHERE slot_id = @slot_id;

    INSERT INTO booking_logs (booking_id, old_status, new_status, changed_by, note)
    VALUES (@booking_id, @old_status, 'CANCELLED', @cancelled_by, @cancel_reason);

    COMMIT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_confirm_booking]    Script Date: 5/22/2026 12:55:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ----------------------------------------------------------------
-- sp_confirm_booking
-- ----------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_confirm_booking]
    @booking_id   BIGINT,
    @confirmed_by BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRANSACTION;

    DECLARE @status_id_confirmed BIGINT;
    DECLARE @old_status VARCHAR(20);

    SELECT @status_id_confirmed = status_id FROM booking_statuses WHERE status_name = 'CONFIRMED';
    SELECT @old_status = bs.status_name
    FROM bookings b
    INNER JOIN booking_statuses bs ON b.status_id = bs.status_id
    WHERE b.booking_id = @booking_id;

    UPDATE bookings
    SET status_id    = @status_id_confirmed,
        confirmed_at = SYSUTCDATETIME(),
        updated_at   = SYSUTCDATETIME(),
        updated_by   = @confirmed_by
    WHERE booking_id = @booking_id;

    INSERT INTO booking_logs (booking_id, old_status, new_status, changed_by, note)
    VALUES (@booking_id, @old_status, 'CONFIRMED', @confirmed_by, N'Studio confirmed');

    COMMIT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_booking]    Script Date: 5/22/2026 12:55:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ----------------------------------------------------------------
-- sp_create_booking                                  [FIX-07,08]
--   Uses SEQUENCE for race-condition-safe booking_code.
--   Locks the slot row (UPDLOCK) before checking availability
--   so concurrent requests cannot both see status = 'OPEN'.
-- ----------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_create_booking]
    @customer_id       BIGINT,
    @studio_id         BIGINT,
    @package_id        BIGINT,
    @slot_id           BIGINT,
    @shooting_date     DATE,
    @shooting_location NVARCHAR(500) = NULL,
    @note              NVARCHAR(MAX) = NULL,
    @total_price       DECIMAL(12,0),
    @commission_pct    DECIMAL(5,2),
    @new_booking_id    BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;

    -- Lock the slot row to prevent concurrent double-booking  [FIX-07]
    DECLARE @slot_status VARCHAR(10);
    SELECT @slot_status = status
    FROM time_slots WITH (UPDLOCK, ROWLOCK)
    WHERE slot_id = @slot_id;

    IF @slot_status <> 'OPEN'
    BEGIN
        ROLLBACK;
        RAISERROR(N'Slot is no longer available.', 16, 1);
        RETURN;
    END;

    -- Generate booking_code via SEQUENCE                      [FIX-08]
    DECLARE @seq_val    BIGINT = NEXT VALUE FOR seq_booking_code;
    DECLARE @date_part  VARCHAR(8) = CONVERT(VARCHAR(8), GETDATE(), 112);
    DECLARE @booking_code VARCHAR(25) = 'BK-' + @date_part + '-' + RIGHT('00000000' + CAST(@seq_val AS VARCHAR(8)), 8);

    DECLARE @status_pending BIGINT;
    SELECT @status_pending = status_id FROM booking_statuses WHERE status_name = 'PENDING';

    DECLARE @commission_amount DECIMAL(12,0) = @total_price * @commission_pct / 100;
    DECLARE @studio_revenue    DECIMAL(12,0) = @total_price - @commission_amount;

    INSERT INTO bookings (
        customer_id, studio_id, package_id, slot_id, status_id,
        booking_code, shooting_date, shooting_location, note,
        total_price, commission_percent, commission_amount, studio_revenue,
        created_by
    )
    VALUES (
        @customer_id, @studio_id, @package_id, @slot_id, @status_pending,
        @booking_code, @shooting_date, @shooting_location, @note,
        @total_price, @commission_pct, @commission_amount, @studio_revenue,
        @customer_id
    );

    SET @new_booking_id = SCOPE_IDENTITY();

    -- Mark slot as BOOKED immediately (prevents any 2nd booking even before confirm)
    UPDATE time_slots SET status = 'BOOKED' WHERE slot_id = @slot_id;

    -- Audit log
    INSERT INTO booking_logs (booking_id, old_status, new_status, changed_by, note)
    VALUES (@new_booking_id, NULL, 'PENDING', @customer_id, N'Booking created');

    COMMIT;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_studio_rating]    Script Date: 5/22/2026 12:55:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================================
-- STORED PROCEDURES
-- ================================================================

-- Update studio avg_rating & total_reviews
CREATE   PROCEDURE [dbo].[sp_update_studio_rating]
    @studio_id BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE studios
    SET
        avg_rating    = ISNULL(
            (SELECT AVG(CAST(rating AS DECIMAL(3,2)))
             FROM reviews WHERE studio_id = @studio_id AND is_hidden = 0), 0),
        total_reviews = (SELECT COUNT(*) FROM reviews
                         WHERE studio_id = @studio_id AND is_hidden = 0)
    WHERE studio_id = @studio_id;
END;
GO
USE [master]
GO
